.loginContainer {
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}
.titleWrap {
  margin-top: 50%;
  margin-bottom: 40px;
}
.titleWrap h1 {
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  line-height: 40px;
}
.loginBtn {
  position: relative;
}
.defaultIcon {
  opacity: 0;
}
.twitterIcon {
  font-size: 70px;
  color: #20ff20 !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
}
.enter {
  margin-top: 20px;
  font-style: italic;
  color: #20ff20;
}
