.loginContainer {
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}
.titleWrap {
  margin: 100px auto 50px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 200px;
  padding: 30px 0;
}
.titleWrap h1 {
  color: #fff;
  line-height: 10px;
}
.title1 h1 {
  font-weight: 100;
  font-size: 2.8em;
}
.title2 h1 {
}
.title3 h1 {
  font-size: 2.3em;
  line-height: 5px;
}
