.App {
  text-align: center;
}

.customBody {
  max-width: 500px;
  margin: auto;
  background-color: #000;
  color: #fff;
}
.customBody h1,
.customBody h2,
.customBody h3,
.customBody h4,
.customBody h5 {
  color: #fff;
}
/* .customBody h5 {
  color: #fff;
} */

.App > .content {
  padding: 20px 0;
}
